<template>
  <div></div>
</template>

<script>
export default {
  name: "{{ properCase name }}", // 大驼峰（表示第一个字母需要大写）
  components: {},
  props: {},
  computed: {},
  watch: {},
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>

<style scoped lang="scss"></style>
